In [58]:
import matplotlib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [39]:
df = pd.read_csv('coviddeathbycountry.csv')

We have 3 columns
Country-deaths in country-cases(i think patients)

In [40]:
df.head()

                  Country  Deaths    Cases
0                    Peru  213769  3729879
1                Bulgaria   37289  1183877
2  Bosnia and Herzegovina   15817   380749
3                 Hungary   46696  1940824
4                 Georgia   16847  1667453

In [41]:
df.tail()

                                          Country Deaths  Cases
212                                  Vatican City      0     29
213                              Falkland Islands      —   1831
214  Saint Helena, Ascension and Tristan da Cunha      —      4
215                Federated States of Micronesia      0     38
216                              Marshall Islands      —     49

In [42]:
#in column Deaths you will see sign(_)
#I think it's meaning 0 then i replace it with 0
df["Deaths"] = df['Deaths'].replace("—","0")

In [43]:
#Done replaced
df.tail()

                                          Country Deaths  Cases
212                                  Vatican City      0     29
213                              Falkland Islands      0   1831
214  Saint Helena, Ascension and Tristan da Cunha      0      4
215                Federated States of Micronesia      0     38
216                              Marshall Islands      0     49

In [44]:
df.shape

(217, 3)

In [45]:
#no any null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217 entries, 0 to 216
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  217 non-null    object
 1   Deaths   217 non-null    object
 2   Cases    217 non-null    int64
dtypes: int64(1), object(2)
memory usage: 5.2+ KB

In [46]:
#for numerical data
df.describe()

              Cases
count  2.170000e+02
mean   3.300453e+06
std    1.320264e+07
min    1.000000e+00
25%    2.838900e+04
50%    2.348800e+05
75%    1.287088e+06
max    1.547888e+08

In [47]:
#for categorical data
#column Deaths is categorical because all numbers include "num"(double quote)
df.describe(include=['O'])

       Country Deaths
count      217    217
unique     217    206
top       Peru      0
freq         1      5

In [50]:
#I changed the column Deaths to int because it's a numeric data
df['Deaths']=df['Deaths'].astype(int)

In [51]:
#for categorical data
df.describe(include=['O'])

       Country
count      217
unique     217
top       Peru
freq         1

In [53]:
#no any duplicate values (duplicate means rows have same values)
df.duplicated().sum()

0

In [55]:
df.isnull().sum().sort_values(ascending=False)

Country    0
Deaths     0
Cases      0
dtype: int64

In [70]:
#you will see more clearly max 5 countries have more deaths in the world
df[['Country','Deaths']].groupby(['Country'],as_index=False).max().sort_values(by='Deaths',ascending=False)

                                          Country   Deaths
64                              European Union[b]  1110232
206                                 United States  1023736
26                                         Brazil   675090
90                                          India   525660
161                                        Russia   374062
..                                            ...      ...
67                 Federated States of Micronesia        0
210                                  Vatican City        0
65                               Falkland Islands        0
163  Saint Helena, Ascension and Tristan da Cunha        0
123                              Marshall Islands        0

[217 rows x 2 columns]

In [71]:
#you will see more clearly max 5 countries have more cases(patients) in the world
df[['Country','Cases']].groupby(['Country'],as_index=False).max().sort_values(by='Cases',ascending=False)

                                          Country      Cases
64                              European Union[b]  154788776
206                                 United States   89453076
90                                          India   43730071
26                                         Brazil   33250117
70                                         France   32737629
..                                            ...        ...
123                              Marshall Islands         49
67                 Federated States of Micronesia         38
210                                  Vatican City         29
163  Saint Helena, Ascension and Tristan da Cunha          4
143                                   North Korea          1

[217 rows x 2 columns]